
div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}
button {
    margin: 10px;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    text-transform: capitalize;

  }
  
  h1 {
    margin: 10px;
    text-align: center;
    font-size: 24px;
    text-transform: capitalize;
  }